<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon color="dark" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Alternative Background</ion-label>
      </ion-col>
      <ion-col>
        <ion-toggle
          (ionChange)='onToggle($event)'
          [checked]='checkAltBackground()'>
        </ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>