<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon color="dark" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="quotes">
    <ion-item-sliding *ngFor="let quote of quotes">
      <ion-item
        color="quoteBackground"
        [ngClass]="{alt: isAltBackground()}"
        ion-item
        (click)="onViewQuote(quote)">
        <h2>{{ quote.person }}</h2>
        <p>{{ quote.text }}</p>
      </ion-item>
      <ion-item-options>
        <button
          ion-button
          color="danger"
          (click)="onRemoveFromFavorites(quote)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>